body {
    background: url(difu.jpg) no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

a {
    color: beige;
    text-decoration: none;
}

h1 {
    color: whitesmoke;
}

img {
    width: 400px;
}

#thirdDiv {
    width: 500px;
    height: 600px;
    padding: 50px;
    border: thin solid red;
    background-color: cadetblue; 
}

#spanId {
    font-size: 18px;
    margin: 50px;
}
